{% if cookiesSettingsGet('cookies', null)|length %}

    <form class="list-cookies">

        {% for cookie in cookiesSettingsGet('cookies') %}

        <div class="form-check text-center ps-0">
            <input class="form-check-input float-none ms-0 {{ cookie.required ? 'disabled' : ''  }}" type="checkbox"
                   id="sg-cookies{{ sgCookiesLocalePrefix ? sgCookiesLocalePrefix }}-{{cookie.slug}}{{customId}}"
                   {{ sgCookies[cookie.slug] or (cookie.required) ? 'checked' : '' }} {{ cookie.required ? 'disabled' : ''  }}>
            <label class="form-check-label fw-bold" for="sg-cookies{{ sgCookiesLocalePrefix ? sgCookiesLocalePrefix }}-{{cookie.slug}}{{customId}}">
                {{ cookie.title }}
            </label>
        </div>

        {% if cookie.description %}
        <div class="text-center">{{ cookie.description|raw }}</div>
        {% endif %}

        {% endfor %}

        {% if disableSaveButton is empty %}

            <div class="text-center">

                <button type="button" id="cookies-manage-save" class="btn btn-outline-secondary text-primary text-uppercase mt-4">
                    uložit
                </button>

            </div>

        {% endif %}

    </form>

{% endif %}
