<ul id="main-menu" class="nav nav-pills d-flex align-items-center {% if mobile %}flex-column{% endif %}">
    <li class="nav-item">
        <a href="{{ 'homepage'|page }}/#reference" class="nav-link text-uppercase position-relative" data-hover="reference">
            reference
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ 'homepage'|page }}/#o-nas" class="nav-link text-uppercase position-relative" data-hover="o nás">
            o nás
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ 'homepage'|page }}/#nas-proces" class="nav-link text-uppercase position-relative" data-hover="náš proces">
            náš proces
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ 'homepage'|page }}/#dalsi-sluzby" class="nav-link text-uppercase position-relative" data-hover="další služby">
            další služby
        </a>
    </li>

    <li class="mt-3 mt-xl-0">
        <a href="{{ 'homepage'|page }}/#kontakt" class="text-uppercase position-relative btn btn-outline-secondary contact fs-16 ff-argentum">
            kontakt
        </a>
    </li>
</ul>
