<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel" data-bs-scroll="true">
    <div class="offcanvas-header">
        <h5 class="text-primary ff-base fw-normal">Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body d-flex flex-column justify-content-center">
        {% partial "menu" mobile=true %}

        <div class="mt-auto text-center socials">
            <a href="https://www.facebook.com/humlnetcreative" target="_blank" class="bg-white d-inline-flex"></a>
        </div>
    </div>
</div>
