<form data-request="{{ __SELF__ }}::onFormSubmit">
    {{ form_token() }}

    <div id="{{ __SELF__ }}_forms_flash" class="mt-0"></div>

    <div class="row g-4">
        <div class="col-12">
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-person"></i>
                </span>

                <input type="text" id="name" name="name" class="form-control" placeholder="Jméno">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-envelope"></i>
                </span>

                <input type="text" id="email" name="email" class="form-control" placeholder="E-mail">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-telephone"></i>
                </span>

                <input type="text" id="phone" name="phone" class="form-control" placeholder="Telefon">
            </div>
        </div>

        <div class="col-12">
            <div class="input-group">
                <span class="input-group-text align-items-start">
                    <i class="bi bi-pencil"></i>
                </span>

                <textarea id="text" name="text" class="form-control" rows="8" placeholder="Vaše zpráva"></textarea>
            </div>
        </div>

        <div class="col-12 fs-16">
            Odesláním formuláře souhlasím se

            <a href="{{ "gdpr"|page }}" class="link-secondary text-white-hover transition-base text-decoration-none">
                zpracováním osobních údajů
            </a>.
        </div>

        <div class="col-12">
            <button id="button" type="submit" class="btn btn-outline-secondary btn-lg text-uppercase with-arrow">
                Odeslat <span class="arrow right"></span>
            </button>
        </div>

        <div class="form-group d-none">
            {% partial "@recaptcha" %}
        </div>
    </div>
</form>
