@import "variables"

.btn
    @media (any-hover: hover)
        overflow: hidden
        background-position: right -37%
        background-repeat: no-repeat
        transition: background-position .5s ease

        &.btn-lg
            background-position: right -65%

        &:hover
            background-position: right 30%

            span
                &.arrow
                    &.right
                        &:before
                            left: 5px

            &.btn-lg
                background-position: right 40%

        &.with-arrow
            &:hover
                background-position: right 35%

            &.btn-lg
                &:hover
                    background-position: right 40%

    span
        &.arrow
            width: 35px
            height: 1px
            display: inline-block
            position: relative
            overflow: visible

            &:before
                content: ""
                width: 100%
                height: 45px
                mask-size: cover
                -webkit-mask-size: cover
                position: absolute
                bottom: -15px
                transition: all .5s ease

            &.right
                &:before
                    mask-image: url("../images/icons/arrow-right-short.svg")
                    -webkit-mask-image: url("../images/icons/arrow-right-short.svg")
                    left: 0

.btn-outline-primary
    @include button-variant(transparent, $primary, $white, transparent, $primary, $white, transparent, $primary, $white)

    @media (any-hover: hover)
        background-image: url("../images/btn-primary-bg.svg")

        &:hover
            background-position: right 32%

.btn-outline-secondary
    @include button-variant(transparent, $secondary, $white, transparent, $secondary, $white, transparent, $secondary, $white)

    @media (any-hover: hover)
        background-image: url("../images/btn-secondary-bg.svg")

    span
        &.arrow
            &.right
                &:before
                    background: $white

.btn-outline-white
    @include button-variant(transparent, $white, $primary, transparent, $white, $primary, transparent, $white, $primary)

    @media (any-hover: hover)
        background-image: url("../images/btn-white-bg.svg")

        &:hover
            span
                &.arrow
                    &:before
                        background-color: $primary

    span
        &.arrow
            &:before
                background-color: $white

html
    scroll-behavior: smooth

//body
    background-image: url("../images/gradient.png")
    background-position: top center
    background-size: cover

//.hero
    background-image: url("../images/banner/layer01.png")
    background-repeat: no-repeat
    background-size: cover
    background-position-y: top
    background-position-x: center
    height: 1200px

    @include media-breakpoint-up(sm)
        height: 1300px

    @include media-breakpoint-up(md)
        background-image: url("../images/banner/layer02.png"), url("../images/banner/layer01.png")
        background-size: 100%, cover
        background-position-y: 260px, top

    @include media-breakpoint-up(lg)
        height: 1500px
        background-size: 120%, cover
        background-position-y: 195px, top

    @include media-breakpoint-up(xl)
        height: 1650px

    @include media-breakpoint-up(xxl)
        height: 1863px
        background-size: cover
        background-position-y: 50px, top

header
    z-index: 10

    &.headroom
        transition: $transition-base

        &--pinned
            transform: translateY(0%)

        &--unpinned
            transform: translateY(-100%)

        &--not-top
            background: $blue-dark

    #logo
        a
            width: 132px
            height: 35px
            mask: url("../images/logo.svg")
            -webkit-mask: url("../images/logo.svg")
            mask-size: cover
            -webkit-mask-size: cover

            @media (any-hover: hover)
                background-image: url("../images/btn-white-bg.svg")
                background-repeat: no-repeat
                background-position: center -18%
                transition: background-position .5s ease

                &:hover
                    background-position: center 30%

    #menu
        .nav
            li
                & + li
                    margin-left: 80px

                    @include media-breakpoint-down(xxl)
                        margin-left: 60px

                a
                    @media (any-hover: hover)
                        &:not(.contact)
                            background-image: url("../images/text-white-secondary.svg")
                            background-repeat: no-repeat
                            background-position: right 4%
                            -webkit-background-clip: text
                            transition: background-position .5s ease

                            &:hover
                                background-position: right 28%

                        .contact
                            background-position: right -30%

                            &:hover
                                background-position: right 24%

    #menu-toggle
        a
            width: 35px
            height: 35px
            mask: url("../images/icons/list.svg")
            -webkit-mask: url("../images/icons/list.svg")
            mask-size: cover
            -webkit-mask-size: cover

            @media (any-hover: hover)
                background-image: url("../images/btn-secondary-bg.svg")
                background-repeat: no-repeat
                background-position: right -25%
                transition: background-position .5s ease

                &:hover
                    background-position: right 8%

#claim
    //margin-top: 153px
    //
    //@include media-breakpoint-up(sm)
    //    margin-top: 160px
    //
    //@include media-breakpoint-up(md)
    //    margin-top: 180px
    //
    //@include media-breakpoint-up(lg)
    //    margin-top: 225px
    //
    //@include media-breakpoint-up(xl)
    //    margin-top: 250px
    //
    //@include media-breakpoint-up(xxl)
    //    margin-top: 270px

    .text
        //@include media-breakpoint-down(lg)
            padding-left: $grid-gutter-width

        @include media-breakpoint-only(md)
            top: 25%

        @include media-breakpoint-only(lg)
            top: 26%

        @include media-breakpoint-only(xl)
            top: 27%

        @include media-breakpoint-up(xxl)
            top: 30%

        .first-line
            @include rfs($font-size-81 * $line-height-sm, height)

            @include media-breakpoint-only(md)
                font-size: $font-size-58 !important
                height: $font-size-58 * $line-height-sm

            @include media-breakpoint-only(lg)
                font-size: $font-size-65 !important
                height: $font-size-65 * $line-height-sm

            @include media-breakpoint-only(xl)
                font-size: $font-size-75 !important
                height: $font-size-75 * $line-height-sm

            .words
                margin-top: -2px
                margin-left: 0

                @include media-breakpoint-up(md)
                    margin-left: 15px

                span
                    padding-top: 2px
                    border-spacing: 0

        .second-line
            @include media-breakpoint-only(md)
                font-size: $font-size-58 !important

            @include media-breakpoint-only(lg)
                font-size: $font-size-65 !important

            @include media-breakpoint-only(xl)
                font-size: $font-size-75 !important

        .works
            a
                &:before, &:after
                    content: ""
                    left: 50%
                    position: absolute
                    mask: url("../images/icons/chevron-down.svg")
                    -webkit-mask: url("../images/icons/chevron-down.svg")
                    mask-size: cover
                    -webkit-mask-size: cover
                    background-color: $secondary
                    width: 30px
                    height: 30px
                    transform: translateX(-50%)
                    transition: bottom .5s ease

                    @include media-breakpoint-up(xl)
                        width: 40px
                        height: 30px

                &:before
                    bottom: -40px

                &:after
                    bottom: -55px

                @media (any-hover: hover)
                    &:hover
                        &:before
                            bottom: -45px

                        &:after
                            bottom: -63px

#reference
    //margin-top: 155px
    //padding-top: $grid-gutter-width
    //
    //@include media-breakpoint-up(sm)
    //    margin-top: 260px
    //
    //@include media-breakpoint-up(md)
    //    padding-top: 50px
    //    margin-top: 240px
    //
    //@include media-breakpoint-up(lg)
    //    margin-top: 280px
    //
    //@include media-breakpoint-up(xl)
    //    margin-top: 450px
    //
    //@include media-breakpoint-up(xxl)
    //    margin-top: 550px

    .swiper
        .swiper-wrapper
            .swiper-slide
                .heading
                    line-height: 1.1

        .swiper-pagination
            position: relative
            margin-top: map-get($spacers, 4)

            @include media-breakpoint-up(lg)
                margin-top: 50px

            &-bullet
                width: 20px
                height: 20px
                background-color: $primary
                opacity: 1

                &-active
                    background-color: $secondary

#nas-proces
    @include gradient-y($green-gradient-top, $green-gradient-bottom)

    .step
        @include media-breakpoint-up(md)
            height: 227px

            &:after
                content: ""
                background-image: url("../images/process/line.svg")
                width: 20px
                position: absolute
                left: 50%
                bottom: 0
                transform: translateY(100%) translateX(-50%)
                background-position-y: top
                height: 0

        @include media-breakpoint-up(lg)
            height: 237px

        @include media-breakpoint-up(xl)
            height: 242px

        .number
            width: 75px
            height: 75px
            margin-bottom: 62px
            margin-top: 82px

            &:before, &:after
                content: ""
                background-image: url("../images/process/line.svg")
                width: 20px
                position: absolute
                left: 50%
                background-position-y: bottom

            &:before
                top: 0
                transform: translateY(-100%) translateX(-50%)
                height: 85px

            &:after
                bottom: 0
                transform: translateY(100%) translateX(-50%)
                height: 73px

            @include media-breakpoint-up(lg)
                width: 85px
                height: 85px

            @include media-breakpoint-up(xl)
                width: 90px
                height: 90px

        .img
            img
                width: 152px

        //.text
            font-size: $font-size-16

    .end
        @include media-breakpoint-up(md)
            padding-top: 40px

            &:before
                content: ""
                background-image: url("../images/process/caret-down.svg")
                width: 20px
                position: absolute
                left: 50%
                background-position-y: center
                top: 0
                transform: translateX(-50%)
                height: 17px

#kontakt
    @include gradient-y($blue-gradient-top, $primary)

    #scf-contactform
        form
            &.was-validated
                .form-group
                    &:before
                        top: 14px

            .form-group
                position: relative

                &.has-error
                    display: flex
                    flex-direction: column

                    input
                        order: 0

                    small
                        order: 10
                        display: block
                        font-size: $font-size-16

                input, textarea
                    padding-left: $input-padding-x * 2.2

                &:before
                    font-family: bootstrap-icons
                    position: absolute
                    font-size: $font-size-16
                    top: 15px
                    left: $input-padding-x + ($grid-gutter-width / 2)
                    line-height: 1
                    color: $input-placeholder-color

                &.name
                    &:before
                        content: "\F4E1"

                &.email
                    &:before
                        content: "\F32F"

                &.phone
                    &:before
                        content: "\F5C1"

                &.text
                    &:before
                        content: "\F4CB"

            button
                &:after
                    animation: none
                    border: none
                    opacity: 1
                    height: auto

    .nav
        li
            & + li
                margin-left: 80px

                @include media-breakpoint-down(xxl)
                    margin-left: 60px

            a
                color: $white

                @media (any-hover: hover)
                    &:not(.contact)
                        background-image: url("../images/text-white-secondary.svg")
                        background-repeat: no-repeat
                        background-position: right 4%
                        -webkit-background-clip: text
                        transition: background-position .5s ease
                        color: transparent

                        &:hover
                            background-position: right 28%

    .socials
        a
            width: 21px
            height: 21px
            mask-size: cover
            -webkit-mask-size: cover

            &.facebook
                mask-image: url("../images/icons/facebook.svg")
                -webkit-mask-image: url("../images/icons/facebook.svg")

            @media (any-hover: hover)
                background-image: url("../images/btn-secondary-bg.svg")
                background-repeat: no-repeat
                background-position: right -12%
                transition: background-position .5s ease

                &:hover
                    background-position: right 7%

    .copyright
        .logo
            a
                width: 132px
                height: 35px
                mask: url("../images/logo.svg")
                -webkit-mask: url("../images/logo.svg")
                mask-size: cover
                -webkit-mask-size: cover

                @media (any-hover: hover)
                    background-image: url("../images/btn-secondary-bg.svg")
                    background-repeat: no-repeat
                    background-position: center -18%
                    transition: background-position .5s ease

                    &:hover
                        background-position: center 30%

#offcanvas
    .offcanvas-body
        .nav
            li
                a
                    text-align: center
                    font-size: $font-size-24 !important
                    color: $white

                    &:not(.contact)
                        padding: map-get($spacers, 3) 0

        .socials
            a
                width: 35px
                height: 35px
                mask: url("../images/icons/facebook.svg")
                -webkit-mask: url("../images/icons/facebook.svg")
                mask-size: cover
                -webkit-mask-size: cover
