<div class="container-fluid bg-white py-5" id="o-nas">
    <div class="container-lg py-5">
        <h1 class="h2 mb-4 text-uppercase text-center">
            <span class="text-secondary">tvorba</span> webových stránek
        </h1>

        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <p class="text-center mb-4">
                    Klademe důraz na tvorbu webových stránek takzvaně "na míru." Výsledkem naší práce jsou weby vytvořené
                    podle konkrétních potřeb klienta i koncového uživatele webu. Jinými slovy, my přizpůsobujeme internetové
                    stránky vašemu obsahu, abyste Vy nemuseli obsah přizpůsobovat navrženým internetovým stránkám.
                </p>

                <p class="text-center mb-4">
                    Základem je individuální přístup při přípravné práci na struktuře webu a plánování všech jeho
                    technických detailů. Analýzu vytváříme ruku v ruce s představou o grafickém pojetí; grafik zase své
                    návrhy průběžně konzultuje s programátorem.
                </p>

                <p class="text-center mb-5 fw-bold">
                    Váš nový web tak bude výsledkem komplexní týmové práce; přesto bude
                    vytvářen jako jeden celek.
                </p>

                <p class="text-center mb-0">
                    <a href="{{ 'homepage'|page }}/#kontakt" class="btn btn-outline-secondary text-uppercase text-primary">
                        kontakt
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
