<div class="container-fluid" id="claim">
    <div class="container-lg">
        <div class="d-flex justify-content-center d-md-none lh-sm second-line ff-mohave fs-81 text-white fst-italic text-uppercase">
            <p class="mb-0">
                Tvoříme
            </p>
        </div>

        <div class="d-flex justify-content-center justify-content-md-start lh-sm first-line ff-mohave fs-81 text-white fst-italic text-uppercase">
            <p class="mb-0 d-none d-md-block">
                Tvoříme
            </p>

            <div class="words overflow-hidden text-green px-5 ps-md-0 pe-md-3">
                <span class="d-block h-100 text-center text-md-start">
                    moderní
                </span>

                <span class="d-block h-100 text-center text-md-start">
                    profesionální
                </span>

                <span class="d-block h-100 text-center text-md-start">
                    responzivní
                </span>

                <span class="d-block h-100 text-center text-md-start">
                    levné
                </span>

                <span class="d-block h-100 text-center text-md-start">
                    moderní
                </span>
            </div>
        </div>

        <div class="d-flex justify-content-center justify-content-md-start lh-sm second-line ff-mohave fs-81 text-white fst-italic text-uppercase">
            <p class="mb-0">
                webové stránky.
            </p>
        </div>

        <div class="mt-4 works text-center text-md-start">
            <a href="{{ 'homepage'|page }}/#reference" class="btn btn-outline-secondary btn text-uppercase position-relative overflow-visible d-lg-none">
                naše práce
            </a>

            <a href="{{ 'homepage'|page }}/#reference" class="btn btn-outline-secondary btn-lg text-uppercase position-relative overflow-visible d-none d-lg-inline-block">
                naše práce
            </a>
        </div>
    </div>
</div>
