<div class="container-fluid px-0 position-relative d-flex justify-content-center overflow-hidden" id="claim">
    <picture>
        <source srcset="{{ 'assets/images/banner/xs.png'|theme }}" media="(max-width: 575px)">
        <source srcset="{{ 'assets/images/banner/sm.png'|theme }}" media="(min-width: 576px) and (max-width: 767px)">
        <source srcset="{{ 'assets/images/banner/md.png'|theme }}" media="(min-width: 768px) and (max-width: 991px)">
        <source srcset="{{ 'assets/images/banner/lg.png'|theme }}" media="(min-width: 992px) and (max-width: 1199px)">
        <source srcset="{{ 'assets/images/banner/xl.png'|theme }}" media="(min-width: 1120px) and (max-width: 1399px)">

        <img src="{{ 'assets/images/banner/xxl.png'|theme }}" alt="banner">
    </picture>

    <div class="container-lg text position-absolute start-50 translate-middle-x">
        <div class="d-flex justify-content-center d-md-none lh-sm second-line ff-mohave fs-81 text-white fst-italic text-uppercase">
            <p class="mb-0">
                Tvoříme
            </p>
        </div>

        <div class="d-flex justify-content-center justify-content-lg-start lh-sm first-line ff-mohave fs-81 text-white fst-italic text-uppercase">
            <p class="mb-0 d-none d-md-block">
                Tvoříme
            </p>

            <div class="words overflow-hidden text-green pe-md-3 w-100 w-md-auto">
                <span class="d-block h-100 text-center text-md-start">
                    moderní
                </span>

                <span class="d-block h-100 text-center text-md-start">
                    profesionální
                </span>

                <span class="d-block h-100 text-center text-md-start">
                    responzivní
                </span>
            </div>
        </div>

        <div class="d-flex justify-content-center justify-content-lg-start lh-sm second-line ff-mohave fs-81 text-white fst-italic text-uppercase">
            <p class="mb-0">
                webové stránky.
            </p>
        </div>

        <div class="mt-4 works text-center text-lg-start">
            <a href="{{ 'homepage'|page }}/#reference" class="btn btn-outline-secondary btn text-uppercase position-relative overflow-visible d-xl-none">
                naše práce
            </a>

            <a href="{{ 'homepage'|page }}/#reference" class="btn btn-outline-secondary btn-lg text-uppercase position-relative overflow-visible d-none d-xl-inline-block">
                naše práce
            </a>
        </div>
    </div>
</div>
