<div class="container-fluid py-5 text-white" id="kontakt">
    <div class="container-lg py-xl-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="me-xl-5">
                    <p class="h2 mb-4 text-uppercase text-white fst-italic">
                        Kontaktujte nás
                    </p>

                    {% component "contactform" %}
                </div>
            </div>

            <div class="col-12 mt-5 col-lg-6 mt-lg-0">
                <div class="ms-xl-5">
                    <p class="fw-bold fs-30 lh-sm mb-4">
                        HUMLNET <br>
                        CREATIVE s.r.o.
                    </p>

                    <p class="mb-4">
                        Žižkova 498 <br>
                        541 01 Trutnov <br>
                        1. patro (nad prodejnou CZC)
                    </p>

                    <p class="mb-2">
                        IČ: 27498140 <br>
                        DIČ: CZ27498140
                    </p>

                    <p class="mb-0 fs-16">
                        Spisová značka 22571 C, Krajský soud v Hradci Králové
                    </p>

                    <div class="mt-5 bg-secondary text-white p-4 d-flex flex-column flex-sm-row align-items-sm-center d-md-inline-flex w-auto d-xl-flex">
                        <div class="text-center text-sm-start me-sm-4">
                            <p class="mb-0 rounded-circle border border-3 border-primary d-inline-flex">
                                <img src="{{ 'assets/images/zaplata.png'|theme }}" alt="Jednatel" class="img-fluid">
                            </p>
                        </div>

                        <div class="mt-3 mt-sm-0">
                            <p class="ff-archivo text-primary fs-20 text-uppercase mb-0 text-center text-sm-start">
                                Jednatel
                            </p>

                            <p class="fs-30 fw-bold mb-2 text-center text-sm-start">
                                Lukáš Záplata
                            </p>

                            <p class="d-flex align-items-center mb-0 justify-content-center justify-content-sm-start">
                                <i class="bi bi-telephone text-primary me-3 fs-24"></i>

                                <a href="tel:+420 775 652 656" class="link-white text-primary-hover transition-base">
                                    +420 775 652 656
                                </a>
                            </p>

                            <p class="d-flex align-items-center mb-0 justify-content-center justify-content-sm-start">
                                <i class="bi bi-envelope text-primary me-3 fs-24"></i>

                                <a href="maito:info@hucr.cz" class="link-white text-primary-hover transition-base">
                                    info@hucr.cz
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5 pt-md-4">
            <p class="text-center h3 text-white mb-4">
                Kde nás najdete?
            </p>

            <div class="ratio ratio-21x9">
                <iframe style="border:none" src="https://en.frame.mapy.cz/s/kepujataca" frameborder="0"></iframe>
            </div>
        </div>

        <div class="mt-5 py-5 border-bottom border-3 border-secondary d-flex justify-content-between align-items-center">
            <div>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{{ 'gdpr'|page }}" class="nav-link text-uppercase">
                            gdpr
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="" class="nav-link text-uppercase">
                            cookies
                        </a>
                    </li>
                </ul>
            </div>

            <div class="socials lh-1">
                <a href="https://www.facebook.com/humlnetcreative" target="_blank" class="facebook bg-white d-inline-flex"></a>
            </div>
        </div>

        <div class="mt-5 copyright row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <div class="col text-center text-sm-start">
                <a href="{{ 'homepage'|page }}/#kontakt" class="btn btn-outline-secondary text-uppercase">
                    poptat web
                </a>
            </div>

            <div class="col logo d-flex align-items-center justify-content-center mt-5 mt-sm-0 justify-content-sm-end justify-content-md-center mt-md-0">
                <a href="{{ 'homepage'|page }}" class="d-block bg-white"></a>
            </div>

            <div class="col fs-16 d-flex align-items-center justify-content-center mt-5 col-sm-12 col-lg mt-md-0 justify-content-md-end text-md-end">
                2006 - {{ "now"|date("Y") }} &copy;<br class="d-none d-md-inline-block d-xl-none"> HUMLNET CREATIVE s.r.o.
            </div>
        </div>
    </div>
</div>
