<div class="container-fluid py-5 bg-white" id="partners">
    <div class="container-lg py-xl-5">
        <p class="mb-5 fs-24">
            Spolupracují s námi
        </p>

        <div class="row row-cols-2 row-cols-xxl-6">
            <div class="col partner text-center">
                <a href="https://www.zskomtu.cz/" target="_blank">
                    <img src="{{ 'assets/images/partners/01.png'|theme }}" alt="" class="img-fluid">
                </a>
            </div>

            <div class="col partner text-center">
                <a href="https://www.stachema.cz/" target="_blank">
                    <img src="{{ 'assets/images/partners/02.png'|theme }}" alt="" class="img-fluid">
                </a>
            </div>

            <div class="col partner text-center">
                <a href="https://www.zshornimarsov.cz/" target="_blank">
                    <img src="{{ 'assets/images/partners/05.png'|theme }}" alt="" class="img-fluid">
                </a>
            </div>

            <div class="col partner text-center">
                <a href="https://www.nemjil.cz/" target="_blank">
                    <img src="{{ 'assets/images/partners/03.png'|theme }}" alt="" class="img-fluid">
                </a>
            </div>

            <div class="col partner text-center">
                <a href="https://www.mstrutnov.cz/" target="_blank">
                    <img src="{{ 'assets/images/partners/06.png'|theme }}" alt="" class="img-fluid">
                </a>
            </div>

            <div class="col partner text-center">
                <a href="https://www.zspolice.cz/" target="_blank">
                    <img src="{{ 'assets/images/partners/04.png'|theme }}" alt="" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>
