<div class="container-fluid py-5" id="nas-proces">
    <div class="container-lg py-xl-5">
        <h2 class="text-center mb-5 mb-md-4">
            Náš proces tvorby <br>
            webových stránek?
        </h2>

        <div class="row row-cols-1 row-cols-md-2 step position-relative">
            <div class="number first text-white ff-argentum fs-58 fw-bold border border-3 border-primary lh-1 rounded-circle d-inline-flex align-items-center justify-content-center position-relative start-50 translate-middle-x position-md-absolute">
                1
            </div>

            <div class="col mt-4 img order-md-1 mt-md-0 d-md-flex align-items-md-center">
                <p class="mb-0 text-center text-md-start ps-md-5 ms-md-2 ms-lg-3 ms-xl-5">
                    <span class="d-inline-block p-3 border border-3 border-primary">
                        <img src="{{ 'assets/images/process/01.svg'|theme }}" alt="01">
                    </span>
                </p>
            </div>

            <div class="col mt-4 order-md-0 mt-md-0 d-md-flex align-items-md-center justify-content-md-end">
                <div class="pe-md-5 me-md-2 me-lg-3 me-xl-5">
                    <p class="text-uppercase h2 fst-italic text-center text-md-end">
                        schůzka
                    </p>

                    <p class="fw-bold text-white text-center mb-5 text-md-end mb-md-0">
                        Váš nové web tak bude výsledkem <br class="d-none d-sm-block d-md-none d-lg-block">
                        komplexní <br class="d-none d-md-block d-lg-none">
                        týmové práce
                    </p>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 step position-relative">
            <div class="number first text-white ff-argentum fs-58 fw-bold border border-3 border-primary lh-1 rounded-circle d-inline-flex align-items-center justify-content-center position-relative start-50 translate-middle-x position-md-absolute">
                2
            </div>

            <div class="col mt-4 img mt-md-0 d-md-flex align-items-md-center justify-content-md-end">
                <p class="mb-0 text-center text-md-end pe-md-5 me-md-2 me-lg-3 me-xl-5">
                    <span class="d-inline-block p-3 border border-3 border-primary">
                        <img src="{{ 'assets/images/process/01.svg'|theme }}" alt="01">
                    </span>
                </p>
            </div>

            <div class="col mt-4 mt-md-0 d-md-flex align-items-md-center justify-content-md-start">
                <div class="ps-md-5 ms-md-2 ms-lg-3 ms-xl-5">
                    <p class="text-uppercase h2 fst-italic text-center text-md-start">
                        struktura
                    </p>

                    <p class="fw-bold text-white text-center mb-4 text-md-start mb-md-0">
                        Váš nové web tak bude výsledkem <br class="d-none d-sm-block d-md-none d-lg-block">
                        komplexní <br class="d-none d-md-block d-lg-none">
                        týmové práce
                    </p>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 step position-relative">
            <div class="number first text-white ff-argentum fs-58 fw-bold border border-3 border-primary lh-1 rounded-circle d-inline-flex align-items-center justify-content-center position-relative start-50 translate-middle-x position-md-absolute">
                3
            </div>

            <div class="col mt-4 img order-md-1 mt-md-0 d-md-flex align-items-md-center">
                <p class="mb-0 text-center text-md-start ps-md-5 ms-md-2 ms-lg-3 ms-xl-5">
                    <span class="d-inline-block p-3 border border-3 border-primary">
                        <img src="{{ 'assets/images/process/01.svg'|theme }}" alt="01">
                    </span>
                </p>
            </div>

            <div class="col mt-4 order-md-0 mt-md-0 d-md-flex align-items-md-center justify-content-md-end">
                <div class="pe-md-5 me-md-2 me-lg-3 me-xl-5">
                    <p class="text-uppercase h2 fst-italic text-center text-md-end">
                        grafika
                    </p>

                    <p class="fw-bold text-white text-center mb-4 text-md-end mb-md-0">
                        Váš nové web tak bude výsledkem <br class="d-none d-sm-block d-md-none d-lg-block">
                        komplexní <br class="d-none d-md-block d-lg-none">
                        týmové práce
                    </p>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 step position-relative">
            <div class="number first text-white ff-argentum fs-58 fw-bold border border-3 border-primary lh-1 rounded-circle d-inline-flex align-items-center justify-content-center position-relative start-50 translate-middle-x position-md-absolute">
                4
            </div>

            <div class="col mt-4 img mt-md-0 d-md-flex align-items-md-center justify-content-md-end">
                <p class="mb-0 text-center text-md-end pe-md-5 me-md-2 me-lg-3 me-xl-5">
                    <span class="d-inline-block p-3 border border-3 border-primary">
                        <img src="{{ 'assets/images/process/01.svg'|theme }}" alt="01">
                    </span>
                </p>
            </div>

            <div class="col mt-4 mt-md-0 d-md-flex align-items-md-center justify-content-md-start">
                <div class="ps-md-5 ms-md-2 ms-lg-3 ms-xl-5">
                    <p class="text-uppercase h2 fst-italic text-center text-md-start">
                        programování
                    </p>

                    <p class="fw-bold text-white text-center mb-4 text-md-start mb-md-0">
                        Váš nové web tak bude výsledkem <br class="d-none d-sm-block d-md-none d-lg-block">
                        komplexní <br class="d-none d-md-block d-lg-none">
                        týmové práce
                    </p>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 step position-relative">
            <div class="number first text-white ff-argentum fs-58 fw-bold border border-3 border-primary lh-1 rounded-circle d-inline-flex align-items-center justify-content-center position-relative start-50 translate-middle-x position-md-absolute">
                5
            </div>

            <div class="col mt-4 img order-md-1 mt-md-0 d-md-flex align-items-md-center">
                <p class="mb-0 text-center text-md-start ps-md-5 ms-md-2 ms-lg-3 ms-xl-5">
                    <span class="d-inline-block p-3 border border-3 border-primary">
                        <img src="{{ 'assets/images/process/01.svg'|theme }}" alt="01">
                    </span>
                </p>
            </div>

            <div class="col mt-4 order-md-0 mt-md-0 d-md-flex align-items-md-center justify-content-md-end">
                <div class="pe-md-5 me-md-2 me-lg-3 me-xl-5">
                    <p class="text-uppercase h2 fst-italic text-center text-md-end">
                        spuštění
                    </p>

                    <p class="fw-bold text-white text-center mb-4 text-md-end mb-md-0">
                        Váš nové web tak bude výsledkem <br class="d-none d-sm-block d-md-none d-lg-block">
                        komplexní <br class="d-none d-md-block d-lg-none">
                        týmové práce
                    </p>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 step position-relative">
            <div class="number first text-white ff-argentum fs-58 fw-bold border border-3 border-primary lh-1 rounded-circle d-inline-flex align-items-center justify-content-center position-relative start-50 translate-middle-x position-md-absolute">
                6
            </div>

            <div class="col mt-4 img mt-md-0 d-md-flex align-items-md-center justify-content-md-end">
                <p class="mb-0 text-center text-md-end pe-md-5 me-md-2 me-lg-3 me-xl-5">
                    <span class="d-inline-block p-3 border border-3 border-primary">
                        <img src="{{ 'assets/images/process/01.svg'|theme }}" alt="01">
                    </span>
                </p>
            </div>

            <div class="col mt-4 mt-md-0 d-md-flex align-items-md-center justify-content-md-start">
                <div class="ps-md-5 ms-md-2 ms-lg-3 ms-xl-5">
                    <p class="text-uppercase h2 fst-italic text-center text-md-start">
                        podpora
                    </p>

                    <p class="fw-bold text-white text-center mb-4 text-md-start mb-md-0">
                        Váš nové web tak bude výsledkem <br class="d-none d-sm-block d-md-none d-lg-block">
                        komplexní <br class="d-none d-md-block d-lg-none">
                        týmové práce
                    </p>
                </div>
            </div>
        </div>

        <div class="end position-relative">
            <p class="mb-0 text-center">
                <a href="{{ 'homepage'|page }}/#kontakt" class="btn btn-outline-primary text-uppercase">
                    jdete do toho?
                </a>
            </p>
        </div>
    </div>
</div>
