<div class="container-fluid py-5" id="nas-proces">
    <div class="container-lg py-xl-5">
        <h2 class="text-center mb-4">
            Jaký je <br>
            náš proces?
        </h2>

        <div class="row row-cols-1 step position-relative">
            <div class="number text-white ff-argentum fs-58 fw-bold border border-3 border-primary lh-1 rounded-circle d-inline-flex align-items-center justify-content-center position-absolute start-50 translate-middle-x">
                1
            </div>

{#            <div class="col">#}
{#                <p class="text-center">#}
{#                    osobní schůzka#}
{#                </p>#}
{#            </div>#}

{#            <div class="col">#}
{#                <p>#}
{#                    fsdf#}
{#                </p>#}
{#            </div>#}
        </div>
    </div>
</div>
