[cookiesBar cookiesbar]

[contactForm contactform]
==
<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">

        <meta property="og:url" content="https://www.hucr.cz" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ this.page.meta_title }}" />
        <meta property="og:description" content="{{ this.page.meta_description }}" />
        <meta property="og:image" content="{{ 'assets/images/fb/og-image.png'|theme }}" />
        <meta property="fb:app_id" content="504786834725984" />

        <link rel="icon" href="{{ 'assets/images/favicon.png'|theme }}" />

        <title>{{ this.page.title }} | HUMLNET CREATIVE s.r.o.</title>

        {% styles %}

        <link rel="stylesheet" href="{{ [
            'assets/css/theme.css',
            'assets/css/bootstrap-icons.css',
            'assets/css/swiper-bundle.css',
        ]|theme }}" />

        {% if sgCookies.analytics %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-SJK3ZJP703"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-SJK3ZJP703');
            </script>
        {% endif %}
    </head>

    <body class="d-flex flex-column h-100">
        {% partial "header" %}

        <main class="position-relative">
            {% page %}
        </main>

        {% partial "offcanvas" %}

        {% component "cookiesbar" %}

        <script src="{{ [
            'assets/js/jquery.min.js',
            'assets/js/popper.js',
            'assets/js/swiper-bundle.js',
            'assets/js/headroom.js',
            'assets/js/theme.js',
        ]|theme }}"></script>

        <script src="{{ 'assets/js/bootstrap.js'|theme }}"></script>

        {% framework %}
        {% framework extras %}
        {% scripts %}
    </body>
</html>
